@using RestaurantProject.WebUILayer.DTOs.ContactDTOs
@model ResultContactDTO
<section id="contact" class="contact section">
    <div class="container section-title" data-aos="fade-up">
        <h2>İletişim</h2>
        <p><span>Yardıma mı ihtiyacınız var?</span> <span class="description-title">Bize Ulaşın</span></p>
    </div>

    <div class="container" data-aos="fade-up" data-aos-delay="100">


        <div class="mb-5">
            <iframe style="width: 100%; height: 400px;" src="@Model.ContactMapLocation" frameborder="0" allowfullscreen=""></iframe>
        </div>
        <div class="row gy-4">

            <div class="col-md-6">
                <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="200">
                    <i class="icon bi bi-geo-alt flex-shrink-0"></i>
                    <div>
                        <h3>Adres</h3>
                        <p>@Model.ContactAddress</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="300">
                    <i class="icon bi bi-telephone flex-shrink-0"></i>
                    <div>
                        <h3>Bizi Arayın</h3>
                        <p>@Model.ContactPhoneNumber</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="400">
                    <i class="icon bi bi-envelope flex-shrink-0"></i>
                    <div>
                        <h3>E-posta Gönderin</h3>
                        <p>@Model.ContactEmail</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="500">
                    <i class="icon bi bi-clock flex-shrink-0"></i>
                    <div>
                        <h3>Çalışma Saatleri<br></h3>
                        <p>@Model.ContactOpenTimes</p>
                    </div>
                </div>
            </div>

        </div>

        @await Component.InvokeAsync("_HomeMessageComponentPartial")
    </div>
</section>
