@using RestaurantProject.WebUILayer.DTOs.CategoryDTOs
@using RestaurantProject.WebUILayer.DTOs.ProductDTOs
@model List<ResultCategoryDTO>
        <section id="menu" class="menu section">
            <div class="container section-title" data-aos="fade-up">
                <h2>Menümüz</h2>
                <p><span>Lezzetli</span> <span class="description-title">Menümüzü Keşfedin</span></p>
            </div>

    <div class="container">

                <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
              @for(int i = 0; i<Model.Count; i++){
                  var category = Model[i];
                    <li class="nav-item">
                        <a class="nav-link @(i ==0 ? "active show" : "")" data-bs-toggle="tab" data-bs-target="#tab-@category.Id">
                            <h4>@category.CategoryName</h4>
                        </a>
                    </li>
            }
                </ul>

                <div class="tab-content" data-aos="fade-up" data-aos-delay="200">
            @for(int i =0; i<Model.Count; i++)
            {
                var category = Model[i];
                <div class="tab-pane @(i == 0 ? "active show" : "")" id="tab-@category.Id">

                    <div class="tab-header text-center">
                        <p>Menü</p>
                        <h3>@category.CategoryName</h3>
                    </div>

                    <div class="row gy-5">
                        @foreach(var product in category.Products)
                        {
                            <div class="col-lg-4 menu-item">
                                <a href="@product.ProductImageUrl" class="glightbox">
                                    <img src="@product.ProductImageUrl" class="menu-img img-fluid" alt="" style="width: 100%; height: 280px; object-fit: cover;">
                                </a>
                                <h4>@product.ProductName</h4>
                                <p class="ingredients">@product.ProductDescription</p>
                                <p class="price">₺@product.ProductPrice</p>
                            </div>
                        }
                    </div>
                </div>
            }
           
                </div>
            </div>
    }
        </section>