@using RestaurantProject.WebUILayer.DTOs.TestimonialDTOs
@model List<ResultTestimonialDTO>
<section id="testimonials" class="testimonials section light-background">
    <div class="container section-title" data-aos="fade-up">
        <h2>MİŞTERİ YORUMLARI</h2>
        <p>Misafirlerimiz <span class="description-title">Bizim Hakkımızda Ne Diyor</span></p>
    </div>

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
            <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  }
                }
            </script>
            <div class="swiper-wrapper">
              @foreach (var item in Model)
{
    <div class="swiper-slide">
        <div class="testimonial-item">
            <div class="row gy-4 justify-content-center">
                <div class="col-lg-6">
                    <div class="testimonial-content">
                        <p>
                            <i class="bi bi-quote quote-icon-left"></i>
                            <span>@item.TestimonialComment</span>
                            <i class="bi bi-quote quote-icon-right"></i>
                        </p>
                        <h3>@item.TestimonialNameSurname</h3>
                        <h4>@item.TestimonialTitle</h4>
                        <div class="stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 text-center">
                    <img src="@item.TestimonialImageUrl"
                         class="img-fluid testimonial-img"
                         alt="@item.TestimonialNameSurname" />
                </div>
            </div>
        </div>
    </div>
}
               
            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>

</section>
